body, html {
    background-color: #FFF4EB;
    margin-bottom: 0px;
    font-family: 'Goudy Bookletter 1911', serif;
    min-height:100%;
    position:relative;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) {
      h1 {
        font-size: 2px;;
      } 

}

.header_bar {
    font-family: 'Jost', sans-serif;
    background-color: #A95A16;
    margin-bottom: 0px;
    padding-bottom: 12px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 200%;
    padding-top: 12px;
}

.cover {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

input {
    margin: 30px;
    width: 400px;
}

.container {
    width: 100%;
    height: 70vh;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding-top: 50px;
}

.item {
    width: 100%;
    height: 55vh;
    background-color: #D9AB84;
    text-align: center;
    padding-top: 25px;
    font-size: 150%;
    border-radius: 20px;
    opacity: 0.8;
    font-family: 'Jost', sans-serif;
}

.item:hover {
    opacity: 1;
    cursor: pointer;
}

.logo {
    width: 150px;
}

.attribution {
    margin-top: 5px;
    font-size: 0.5em;
}

.buffer {
    height: 4vh;
}

.desc {
    padding: 30px;
    font-size: 20px;
    font-family: 'Goudy Bookletter 1911', serif;
}

.footer_ctr {
    width: 100%;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
}

.footer_item {
    width: 100%;
    text-align: center;
    font-size: 23px;
}

footer {
    background-color: #A95A16;
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30vh;
    /* position: absolute; */

}

.social {
    width: 30px;
    height: 30px;
}

.social_media {
    padding: 20px;
}

.email {
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Goudy Bookletter 1911', serif;
}
